.base {
    width: 50vw;
    padding: 5px 0 10px 15px;

    margin: 0 0 50px 0;
    border-left: 3px solid #f14d34;
    text-align: left;
}

.description {
    margin: 0;
    text-align: left;
}

.description {
    font-size: 18px;
    opacity: 0.8;
}

@media (width >= 1440px) {
    .description {
        font-size: 12px;
        width: 150px;
        height: auto;
    }
    .base {
        width: 256px;
        height: 100px;
        margin: 2vw 2vw 0 0;
    }
}