.base {
    width: 165px;
    max-width: 100%;
    padding: 5px 0 10px 15px;
    margin-bottom: 50px;
    border-left: 3px solid #f14d34;
    text-align: left;
}

.heading, .description {
    margin: 0;
    text-align: left;
}

.heading {
    margin-bottom: 5px;
    font-size: 18px;
    opacity: 1;
}

.headingLarge {
    font-size: 36px;
}

.description {
    font-size: 10px;
    opacity: 0.8;
    max-width: 150px;
}