.base_copy {
    width: 50vw;
    padding: 10px 0 10px 15px;

    margin: 0 0 50px 0;
    border-left: 3px solid #f14d34;
    text-align: left;
}

.description_copy {
    margin: 0;
    text-align: left;
}

.description_copy {
    font-size: 18px;
    opacity: 0.8;
}

@media (width >= 1440px) {
    .description_copy {
        font-size: 12px;
        width: 13vw;
        height: auto;
    }
    .base_copy {
        width: 256px;
        height: 100px;
        margin: 2vw 2vw 0 0;
    }
}