.base {
    width: 160px;
    max-width: 100%;
    padding: 5px 0 10px 15px;
    border-left: 3px solid #f14d34;
    text-align: left;
}

.heading, .description {
    margin: 0;
}

.heading {
    margin-bottom: 5px;
    font-size: 24px;
}

.description {
    font-size: 12px;
}