.base {
    width: 50vw;
    padding: 5px 0 10px 15px;

    margin: 0 5vw 50px 5vw;
    border-left: 3px solid #f14d34;
    text-align: left;
}

.description {
    margin: 0;
    text-align: left;
}

.description {
    font-size: 18px;
    opacity: 0.8;
    max-width: 150px;
}

@media (width >= 1440px) {
    .description {
        max-width: 300px;
        font-size: 16px;
        width: 256px;
        height: 100px;
    }
    .base {
        width: 256px;
        height: 100px;
        margin: 2vw 2vw 0 0;
    }
}