.base {
    width: 165px;
    max-width: 100%;
    padding: 5px 0 10px 15px;

    margin: 0 5vw 50px 5vw;
    border-left: 3px solid #f14d34;
    text-align: left;
}

.heading, .description {
    margin: 0;
    text-align: left;
}

.heading {
    margin-bottom: 5px;
    font-size: 18px;
    opacity: 1;
}

.headingLarge {
    font-size: 36px;
}

.description {
    font-size: 10px;
    opacity: 0.8;
    max-width: 150px;
}

@media (width >= 1440px) {
    .description {
        font-size: 12px;
        max-width: 150px;
    }
    .base {
        width: 180px;
        height: 20%;
        margin: 0 2vw 0 0;
    }
    .heading {
        font-size: 24px;
    }
    .headingLarge {
        font-size: 48px;
    }
}