.base {
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.15);
    width: 90vw;
    height: 40vw;
}

.index {
    opacity: 0.8;
    font-size: 12px;
}

h2.heading {
    font-size: 20px;
}

.description {
    font-size: 16px;
}

@media (width >= 1440px) {
    .base {
        width: 230px;
        height: 230px;
        padding: 30px;
    }
}