.base {
    background: url('../../assets/icon-bg.svg') no-repeat;
    background-position: -10px 8px;
    max-width: 120px;
    padding-left: 30px;
}

.description {
    opacity: 0.8;
    font-size: 12px;
}

@media (width >= 1440px) {
    .description {
        font-size: 16px;
    }

    .base {
        max-width: 180px;
        margin-top: 2vw;
    }
}