.burger > .ant-menu-submenu:first-child > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}

.burger {
  min-width: auto !important;
  width: auto !important;
}

.burger > .ant-menu-submenu {
  width: auto !important;
  min-width: auto !important;
}

.burger > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 8px !important;
  height: 40px !important;
  width: auto !important;
  min-width: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.burger > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
  margin: 0 !important;
  font-size: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.burger > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon {
  margin-inline-end: 0 !important;
}

.subtext {
  font-size: 12px;
  opacity: 0.8;
}

.list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}

h1.heading {
  font-size: 32px;
}

h2.heading {
  font-size: 24px;
  margin-top: 20px;
}

header {
  display: block;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
}

header h1, .subtext{
  margin-top: 15px;
  margin-bottom: 15px;
}

header a{
  align-content: center;
}

.exp {
  background-color: #040613;
  padding: 0 20px 0;
}

.exp .list {
  display: block;
}