/*Header*/

.lefthalf {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.bigscreen {
  justify-items: center;
  padding-bottom: 20%;
}

.bigscreen .list {
  max-width: 420px;
}

.navigator {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.navigator a, .navigator div {
  margin-right: 30px;
}

.navigator a:hover, .navigator a:active {
  color: white;
  border-bottom: 3px solid #f14d34;
  font-weight: bold;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: relative;
  overflow: hidden;
  background-color: black;
  display: block;
  align-items: center;
  text-align: center;
  color: white;
}

header h1, .subtext{
  margin-top: 15px;
  margin-bottom: 15px;
}

header a {
  align-content: center;
}

header > *:not(.video-background):not(.video-overlay) {
  position: relative;
  z-index: 2;
}

.heading, .subtext {
  text-align: center;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.7);
  background-image: url('../../assets/druplicon.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 90%;
  z-index: 1;
}

nav {
  background-color: black;
}

.mobdisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  bottom: 0; /* Блок снизу */
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000 !important;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 20px;
  margin: 0;
}

.mobdisplay > div:last-child {
  position: relative;
}

header {
  padding-top: 0;
}

.bigscreen {
  padding-top: 0;
  padding-bottom: 80px;
}

.pcdisplay {
  display: none;
}

.burger > .ant-menu-submenu:first-child > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}

.burger {
  min-width: auto !important;
  width: auto !important;
}

.burger > .ant-menu-submenu {
  width: auto !important;
  min-width: auto !important;
}

.burger > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 8px !important;
  height: 40px !important;
  width: auto !important;
  min-width: auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.burger > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
  margin: 0 !important;
  font-size: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.burger > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon {
  margin-inline-end: 0 !important;
}

.but {
  margin-top: 45px;
  margin-bottom: 60px;
  width: 80%;
  height: 14vw;
  font-size: 14px;
  justify-self: center;
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #F14D34;
  border-radius: 5px;
  border-color: #F14D34;
}

.but:hover {
  background-color: #F14D34 !important;
  color: white !important;
  border-color: transparent !important;
}
/*/Header*/

/*Общее*/
.subtext {
  font-size: 12px;
  opacity: 0.8;
}

.list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 3vw;
}

h1.heading {
  font-size: 32px;
}

h2.heading {
  font-size: 24px;
  margin-top: 20px;
}

a:link, 
a:visited, 
a:hover, 
a:active, 
a:focus {
    color: inherit !important;
    text-decoration: none !important;
    background-color: transparent !important;
    outline: none !important;
}
a{
  display: inline-block;
}
/*/Общее*/

/*Expertise*/
.exp {
  background-color: #040613;
  padding-top: 30vw;
  background-image: url('../../assets/drupal-logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.exp .list {
  display: block;
  padding: 20px;
}

.exp .heading {
  text-align: left;
  padding: 20px;
}

.laptop {
  justify-self: start;
  margin-bottom: -80px;
}
/*/Expertise*/

/*Services*/
.layer {
  margin-bottom: -38vw;
}

.bigger {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 300px;
}

.bigger .heading, .bigger .subtext {
  text-align: left;
}

.exp {
  display: flex;
  flex-direction: column-reverse;
}
/*/Services*/

@media (width >= 768px) {

  .fullscreen-menu-overlay {
    max-width: 400px !important;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
  }

  .bigscreen .list {
    justify-content: space-between;
  }

  .layer .list {
    justify-content: center;
    gap: 2vw;
    padding: 0 4vw;
  }

  .layer {
    margin-bottom: -300px;
    max-width: 95vw;
    justify-self: center;
  }

  .list {
    justify-content: start;
    padding-top: 0 !important;
  }

  .service .list {
    justify-content: space-evenly;
  }

  .exp {
    padding-top: 40vw;
  }
}

@media (width >= 1024px) {

  .navigator a, .navigator .aa {
    font-size: 12px;
  }

  .lefthalf {
    display: block;
    padding-left: 0;
  }

  .video-overlay {
    background-position: left;
  }

  .laptop {
    margin-bottom: -140px;
    width: auto;
    height: auto;
  }

  .mobdisplay{
    display: none;
  }

  .pcdisplay {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: transparent;
  }

  .bigscreen {
    padding-bottom: 10%;
  }

  .bigscreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding-bottom: 10%;
    margin-top: 5%;
  }

  .bigscreen div {
    align-self: center;
  }

  .bigscreen .list {
    max-width: 920px;
  }

  .but {
    height: 60px;
    width: 220px;
    margin-left: 0;
  }

  .subtext, h1.heading {
    text-align: left;
  }

  .subtext {
    font-size: 16px;
  }

  h1.heading {
    font-size: 52px;
  }

  h2.heading {
    font-size: 42px;
  }

  .bigger {
    justify-self: start;
    max-width: 50%;
  }

  .service {
    padding: 10vw;
    padding-top: 7vw;
  }

  .service .list {
    gap: 6vw;
  }
  
}

@media (width >= 1440px) {

  .navigator a, .navigator .aa {
    font-size: 18px;
  }

  .exp {
    padding-top: 25vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .exp .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 4vw;
  }

  .wall {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-self: end;
  }
}