
@media (min-width: 1024px) {
    .repeater {
        background-repeat: no-repeat;
    }
}

.tariff-card {
  width: 390px;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
}

/* Для планшетов и ПК */
@media (min-width: 768px) {
  .tariff-card.central {
    width: 468px;
  }
}

/* Только для ПК */
@media (min-width: 992px) {
  .tariff-card.central {
    transform: scale(1.2);
    transform-origin: center center;
    z-index: 1;
    margin: 20px 0;
  }
}

/* Для мобильных */
@media (max-width: 991px) {
  .tariff-card.central {
    transform: scale(1);
    margin: 0;
  }
}
/* styles.css */
.cases-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 24px;
  height: 800px;
}

.case-item {
  background-color: #ffffff;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.case-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.case-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.case-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.case-4 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.case-5 {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .cases-container {
    display: block;
    height: auto;
  }
  
  .case-item {
    margin-bottom: 24px;
    grid-column: unset !important;
    grid-row: unset !important;
  }
  
  .case-1, .case-5 {
    height: auto;
  }
  
  .case-2, .case-3, .case-4 {
    height: 400px;
  }
}